<!-- FILEPATH: /d:/Projects/fly_zichan/templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <lang="zh"> <meta charset="UTF-8">
    <title>设备管理</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!--网页form显示 其中"设备"这样的标签要加粗显示， 以下内容： -->

<p><strong>设备：</strong>23MM High Plus</p>

<p><strong>项目：</strong>23MM High Plus</p>

<p><strong>日期：</strong>2024/01/10</p>

<p><strong>PN：</strong>CT10A2022564893</p>

<p><strong>使用：</strong>邓桂辉</p>
<!-- a big size and green button here -->
<button type="button" style="font-size: 20px; color: green">SAVE</button>
</body>
</html>
